# ML Project: Classification 

## Predict what has the most influence over income 

- Education vs Salary
- Sex vs Salary 
- Race vs Salary
- Native-Country vs Salary

$50K/yr based on census data

Authors:
`Andrea Murphy` and `Josh Quigley`

## Setup

In [1]:
%matplotlib inline
import random

import pandas as pd
from pandas import Series,DataFrame
import numpy as np

from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier

import numpy as np
import matplotlib.pyplot as plt

In [2]:
import pylab as plot
params = { 
    "axes.labelsize": "large",
    "xtick.labelsize" : "x-large",
    "legend.fontsize": 20,
    "figure.dpi": 150,
    "figure.figsize" : [25, 7]
}
plot.rcParams.update(params)

In [3]:

data = pd.read_csv('data/adult.data.txt')
test_data = pd.read_csv('data/adult.test.txt') 

data.columns = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race",
                           "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "salary"]
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [4]:
data.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
type(data.index)

pandas.core.indexes.range.RangeIndex

In [6]:
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
salary            0
dtype: int64

## Education vs Salary

In [7]:
# drop columns won't be useful in analysis and prediction
data_education = data.drop(['fnlwgt', 'education-num'], axis=1)

In [9]:
data_education.head()

,age,workclass,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [11]:
data_education.shape

(32560, 13)

## Decreasing the sample size `n=100` for ease of use

In [14]:
data_education.sample(n=100, random_state=10)

,age,workclass,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
11358,41,Private,Bachelors,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,>50K
10859,38,Private,Some-college,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,>50K
30948,24,Private,HS-grad,Separated,Machine-op-inspct,Unmarried,Other,Female,0,0,40,United-States,<=50K
29811,35,Self-emp-inc,Bachelors,Separated,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,<=50K
18408,69,?,Bachelors,Married-civ-spouse,?,Husband,White,Male,10605,0,10,United-States,>50K
2879,31,Private,HS-grad,Never-married,Handlers-cleaners,Other-relative,White,Male,0,0,40,United-States,<=50K
21575,35,Private,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,<=50K
26396,25,Private,HS-grad,Separated,Exec-managerial,Unmarried,White,Female,0,0,37,United-States,<=50K
28644,56,Private,Assoc-voc,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,40,United-States,>50K
15694,22,Without-pay,HS-grad,Never-married,Handlers-cleaners,Own-child,White,Male,4416,0,40,United-States,<=50K
23007,59,Self-emp-not-inc,Masters,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
2647,32,Private,Some-college,Never-married,Adm-clerical,Not-in-family,White,Female,4101,0,50,United-States,<=50K
19108,18,Private,10th,Never-married,Other-service,Own-child,White,Female,0,0,20,United-States,<=50K
545,58,Private,10th,Married-civ-spouse,Other-service,Wife,White,Female,0,0,8,United-States,<=50K
14794,59,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1485,45,United-States,>50K
29400,60,Private,5th-6th,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,?,>50K
12808,44,Private,Some-college,Married-civ-spouse,Other-service,Own-child,White,Female,0,0,40,United-States,>50K
22724,23,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Female,0,0,16,United-States,<=50K
17729,33,State-gov,HS-grad,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,<=50K
19705,22,?,12th,Never-married,?,Not-in-family,White,Male,0,0,48,United-States,<=50K
32412,45,Private,5th-6th,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,?,<=50K
27828,36,Local-gov,Bachelors,Divorced,Prof-specialty,Unmarried,White,Female,0,0,40,United-States,<=50K
31952,37,Private,Bachelors,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,1848,40,United-States,>50K
3407,29,Private,Assoc-acdm,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,>50K
21190,45,Private,Doctorate,Separated,Exec-managerial,Unmarried,White,Male,0,0,40,United-States,>50K
29563,38,Private,Some-college,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,<=50K
22977,35,Private,Masters,Separated,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States,>50K
16345,22,?,7th-8th,Never-married,?,Unmarried,White,Female,0,0,40,Mexico,<=50K
13532,44,Private,Masters,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,45,United-States,<=50K
19306,29,Private,11th,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,48,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8939,27,?,Some-college,Divorced,?,Not-in-family,White,Male,0,0,30,United-States,<=50K
3760,57,Private,Prof-school,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
3066,41,Local-gov,Bachelors,Widowed,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
9539,19,Private,HS-grad,Never-married,Other-service,Own-child,Black,Male,0,0,30,United-States,<=50K
23920,29,Private,5th-6th,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,Mexico,<=50K
21990,35,Private,HS-grad,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,Mexico,<=50K
30184,43,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,<=50K
513,28,Private,HS-grad,Divorced,Craft-repair,Not-in-family,White,Male,0,0,45,United-States,<=50K
20761,31,State-gov,Some-college,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,<=50K
31391,64,Private,HS-grad,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,3,United-States,<=50K
31544,33,Federal-gov,Bachelors,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
29538,49,Private,HS-grad,Married-civ-spouse,Transport-moving,Husband,Black,Male,0,0,40,United-States,<=50K
14155,21,Private,Some-college,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,65,United-States,<=50K
14696,24,Private,Some-college,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,42,United-States,<=50K
13397,50,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
18502,49,Private,11th,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,38,United-States,<=50K
997,40,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,2580,0,40,United-States,<=50K
18462,74,Private,Prof-school,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,50,United-States,>50K
24508,37,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1902,50,United-States,<=50K
19204,28,Private,HS-grad,Never-married,Transport-moving,Not-in-family,Other,Male,0,0,40,United-States,<=50K
12503,28,Private,Some-college,Married-civ-spouse,Other-service,Husband,White,Male,0,0,35,United-States,>50K
21561,44,Federal-gov,Bachelors,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,48,United-States,<=50K
8723,52,Self-emp-inc,10th,Married-civ-spouse,Sales,Husband,White,Male,4064,0,45,United-States,<=50K
1058,45,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,47,United-States,>50K
27681,24,Private,HS-grad,Never-married,Other-service,Not-in-family,White,Female,0,0,30,United-States,<=50K
30772,38,Federal-gov,Bachelors,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,?,>50K
19781,40,State-gov,Some-college,Divorced,Adm-clerical,Not-in-family,Black,Female,0,0,35,United-States,<=50K
21634,27,Self-emp-not-inc,Assoc-voc,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
11391,42,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,<=50K
22201,20,Private,HS-grad,Never-married,Adm-clerical,Own-child,Black,Female,0,0,40,United-States,<=50K

## Sex vs Salary

In [22]:
# drop columns won't be useful in analysis and prediction
data_sex = data.drop(['fnlwgt', 'education-num', 'education', 'race'], axis=1)

In [23]:
data_sex.head()

,age,workclass,marital-status,occupation,relationship,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,50,Self-emp-not-inc,Married-civ-spouse,Exec-managerial,Husband,Male,0,0,13,United-States,<=50K
1,38,Private,Divorced,Handlers-cleaners,Not-in-family,Male,0,0,40,United-States,<=50K
2,53,Private,Married-civ-spouse,Handlers-cleaners,Husband,Male,0,0,40,United-States,<=50K
3,28,Private,Married-civ-spouse,Prof-specialty,Wife,Female,0,0,40,Cuba,<=50K
4,37,Private,Married-civ-spouse,Exec-managerial,Wife,Female,0,0,40,United-States,<=50K

In [24]:
data_sex.shape

(32560, 11)

## Decreasing the sample size `n=100` for ease of use

In [25]:
data_sex.sample(n=100, random_state=10)

,age,workclass,marital-status,occupation,relationship,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
11358,41,Private,Married-civ-spouse,Sales,Husband,Male,0,0,50,United-States,>50K
10859,38,Private,Married-civ-spouse,Sales,Husband,Male,0,0,60,United-States,>50K
30948,24,Private,Separated,Machine-op-inspct,Unmarried,Female,0,0,40,United-States,<=50K
29811,35,Self-emp-inc,Separated,Prof-specialty,Not-in-family,Female,0,0,50,United-States,<=50K
18408,69,?,Married-civ-spouse,?,Husband,Male,10605,0,10,United-States,>50K
2879,31,Private,Never-married,Handlers-cleaners,Other-relative,Male,0,0,40,United-States,<=50K
21575,35,Private,Married-civ-spouse,Exec-managerial,Husband,Male,0,0,45,United-States,<=50K
26396,25,Private,Separated,Exec-managerial,Unmarried,Female,0,0,37,United-States,<=50K
28644,56,Private,Married-civ-spouse,Exec-managerial,Husband,Male,15024,0,40,United-States,>50K
15694,22,Without-pay,Never-married,Handlers-cleaners,Own-child,Male,4416,0,40,United-States,<=50K
23007,59,Self-emp-not-inc,Married-civ-spouse,Craft-repair,Husband,Male,0,0,40,United-States,>50K
2647,32,Private,Never-married,Adm-clerical,Not-in-family,Female,4101,0,50,United-States,<=50K
19108,18,Private,Never-married,Other-service,Own-child,Female,0,0,20,United-States,<=50K
545,58,Private,Married-civ-spouse,Other-service,Wife,Female,0,0,8,United-States,<=50K
14794,59,Private,Married-civ-spouse,Craft-repair,Husband,Male,0,1485,45,United-States,>50K
29400,60,Private,Married-civ-spouse,Sales,Husband,Male,0,0,40,?,>50K
12808,44,Private,Married-civ-spouse,Other-service,Own-child,Female,0,0,40,United-States,>50K
22724,23,Private,Never-married,Adm-clerical,Own-child,Female,0,0,16,United-States,<=50K
17729,33,State-gov,Married-civ-spouse,Tech-support,Husband,Male,0,0,40,United-States,<=50K
19705,22,?,Never-married,?,Not-in-family,Male,0,0,48,United-States,<=50K
32412,45,Private,Married-civ-spouse,Machine-op-inspct,Husband,Male,0,0,40,?,<=50K
27828,36,Local-gov,Divorced,Prof-specialty,Unmarried,Female,0,0,40,United-States,<=50K
31952,37,Private,Married-civ-spouse,Exec-managerial,Wife,Female,0,1848,40,United-States,>50K
3407,29,Private,Married-civ-spouse,Sales,Husband,Male,0,0,50,United-States,>50K
21190,45,Private,Separated,Exec-managerial,Unmarried,Male,0,0,40,United-States,>50K
29563,38,Private,Married-civ-spouse,Sales,Husband,Male,0,0,60,United-States,<=50K
22977,35,Private,Separated,Prof-specialty,Not-in-family,Male,0,0,40,United-States,>50K
16345,22,?,Never-married,?,Unmarried,Female,0,0,40,Mexico,<=50K
13532,44,Private,Married-civ-spouse,Prof-specialty,Wife,Female,0,0,45,United-States,<=50K
19306,29,Private,Never-married,Machine-op-inspct,Own-child,Male,0,0,48,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...
8939,27,?,Divorced,?,Not-in-family,Male,0,0,30,United-States,<=50K
3760,57,Private,Never-married,Prof-specialty,Not-in-family,Female,0,0,40,United-States,<=50K
3066,41,Local-gov,Widowed,Adm-clerical,Not-in-family,Female,0,0,40,United-States,<=50K
9539,19,Private,Never-married,Other-service,Own-child,Male,0,0,30,United-States,<=50K
23920,29,Private,Married-civ-spouse,Farming-fishing,Husband,Male,0,0,40,Mexico,<=50K
21990,35,Private,Married-civ-spouse,Handlers-cleaners,Husband,Male,0,0,40,Mexico,<=50K
30184,43,Private,Married-civ-spouse,Handlers-cleaners,Husband,Male,0,0,40,United-States,<=50K
513,28,Private,Divorced,Craft-repair,Not-in-family,Male,0,0,45,United-States,<=50K
20761,31,State-gov,Never-married,Craft-repair,Not-in-family,Male,0,0,40,United-States,<=50K
31391,64,Private,Never-married,Exec-managerial,Not-in-family,Male,0,0,3,United-States,<=50K
31544,33,Federal-gov,Never-married,Prof-specialty,Not-in-family,Female,0,0,40,United-States,<=50K
29538,49,Private,Married-civ-spouse,Transport-moving,Husband,Male,0,0,40,United-States,<=50K
14155,21,Private,Never-married,Adm-clerical,Not-in-family,Male,0,0,65,United-States,<=50K
14696,24,Private,Never-married,Exec-managerial,Not-in-family,Male,0,0,42,United-States,<=50K
13397,50,Private,Married-civ-spouse,Craft-repair,Husband,Male,0,0,40,United-States,<=50K
18502,49,Private,Divorced,Exec-managerial,Not-in-family,Female,0,0,38,United-States,<=50K
997,40,Private,Married-civ-spouse,Machine-op-inspct,Husband,Male,2580,0,40,United-States,<=50K
18462,74,Private,Married-civ-spouse,Prof-specialty,Husband,Male,99999,0,50,United-States,>50K
24508,37,Private,Married-civ-spouse,Craft-repair,Husband,Male,0,1902,50,United-States,<=50K
19204,28,Private,Never-married,Transport-moving,Not-in-family,Male,0,0,40,United-States,<=50K
12503,28,Private,Married-civ-spouse,Other-service,Husband,Male,0,0,35,United-States,>50K
21561,44,Federal-gov,Married-civ-spouse,Exec-managerial,Husband,Male,0,0,48,United-States,<=50K
8723,52,Self-emp-inc,Married-civ-spouse,Sales,Husband,Male,4064,0,45,United-States,<=50K
1058,45,Private,Married-civ-spouse,Craft-repair,Husband,Male,0,0,47,United-States,>50K
27681,24,Private,Never-married,Other-service,Not-in-family,Female,0,0,30,United-States,<=50K
30772,38,Federal-gov,Married-civ-spouse,Prof-specialty,Husband,Male,0,0,40,?,>50K
19781,40,State-gov,Divorced,Adm-clerical,Not-in-family,Female,0,0,35,United-States,<=50K
21634,27,Self-emp-not-inc,Never-married,Craft-repair,Own-child,Male,0,0,40,United-States,<=50K
11391,42,Private,Married-civ-spouse,Tech-support,Husband,Male,0,0,40,United-States,<=50K
22201,20,Private,Never-married,Adm-clerical,Own-child,Female,0,0,40,United-States,<=50K

## Race vs Salary

In [26]:
# drop columns won't be useful in analysis and prediction
data_race = data.drop(['fnlwgt', 'education-num', 'education','age'], axis=1)

In [27]:
data_race.head()

,workclass,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,Self-emp-not-inc,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,Private,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,Private,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,Private,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,Private,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [28]:
data_race.shape

(32560, 11)

## Decreasing the sample size `n=100` for ease of use

In [29]:
data_race.sample(n=100, random_state=10)

,workclass,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
11358,Private,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,>50K
10859,Private,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,>50K
30948,Private,Separated,Machine-op-inspct,Unmarried,Other,Female,0,0,40,United-States,<=50K
29811,Self-emp-inc,Separated,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,<=50K
18408,?,Married-civ-spouse,?,Husband,White,Male,10605,0,10,United-States,>50K
2879,Private,Never-married,Handlers-cleaners,Other-relative,White,Male,0,0,40,United-States,<=50K
21575,Private,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,<=50K
26396,Private,Separated,Exec-managerial,Unmarried,White,Female,0,0,37,United-States,<=50K
28644,Private,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,40,United-States,>50K
15694,Without-pay,Never-married,Handlers-cleaners,Own-child,White,Male,4416,0,40,United-States,<=50K
23007,Self-emp-not-inc,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
2647,Private,Never-married,Adm-clerical,Not-in-family,White,Female,4101,0,50,United-States,<=50K
19108,Private,Never-married,Other-service,Own-child,White,Female,0,0,20,United-States,<=50K
545,Private,Married-civ-spouse,Other-service,Wife,White,Female,0,0,8,United-States,<=50K
14794,Private,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1485,45,United-States,>50K
29400,Private,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,?,>50K
12808,Private,Married-civ-spouse,Other-service,Own-child,White,Female,0,0,40,United-States,>50K
22724,Private,Never-married,Adm-clerical,Own-child,White,Female,0,0,16,United-States,<=50K
17729,State-gov,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,<=50K
19705,?,Never-married,?,Not-in-family,White,Male,0,0,48,United-States,<=50K
32412,Private,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,?,<=50K
27828,Local-gov,Divorced,Prof-specialty,Unmarried,White,Female,0,0,40,United-States,<=50K
31952,Private,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,1848,40,United-States,>50K
3407,Private,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,>50K
21190,Private,Separated,Exec-managerial,Unmarried,White,Male,0,0,40,United-States,>50K
29563,Private,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,<=50K
22977,Private,Separated,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States,>50K
16345,?,Never-married,?,Unmarried,White,Female,0,0,40,Mexico,<=50K
13532,Private,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,45,United-States,<=50K
19306,Private,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,48,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...
8939,?,Divorced,?,Not-in-family,White,Male,0,0,30,United-States,<=50K
3760,Private,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
3066,Local-gov,Widowed,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
9539,Private,Never-married,Other-service,Own-child,Black,Male,0,0,30,United-States,<=50K
23920,Private,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,Mexico,<=50K
21990,Private,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,Mexico,<=50K
30184,Private,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,<=50K
513,Private,Divorced,Craft-repair,Not-in-family,White,Male,0,0,45,United-States,<=50K
20761,State-gov,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,<=50K
31391,Private,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,3,United-States,<=50K
31544,Federal-gov,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
29538,Private,Married-civ-spouse,Transport-moving,Husband,Black,Male,0,0,40,United-States,<=50K
14155,Private,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,65,United-States,<=50K
14696,Private,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,42,United-States,<=50K
13397,Private,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
18502,Private,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,38,United-States,<=50K
997,Private,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,2580,0,40,United-States,<=50K
18462,Private,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,50,United-States,>50K
24508,Private,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1902,50,United-States,<=50K
19204,Private,Never-married,Transport-moving,Not-in-family,Other,Male,0,0,40,United-States,<=50K
12503,Private,Married-civ-spouse,Other-service,Husband,White,Male,0,0,35,United-States,>50K
21561,Federal-gov,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,48,United-States,<=50K
8723,Self-emp-inc,Married-civ-spouse,Sales,Husband,White,Male,4064,0,45,United-States,<=50K
1058,Private,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,47,United-States,>50K
27681,Private,Never-married,Other-service,Not-in-family,White,Female,0,0,30,United-States,<=50K
30772,Federal-gov,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,?,>50K
19781,State-gov,Divorced,Adm-clerical,Not-in-family,Black,Female,0,0,35,United-States,<=50K
21634,Self-emp-not-inc,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
11391,Private,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,<=50K
22201,Private,Never-married,Adm-clerical,Own-child,Black,Female,0,0,40,United-States,<=50K

## Native-Country vs Salary

In [30]:
# drop columns won't be useful in analysis and prediction
data_country = data.drop(['fnlwgt', 'education-num', 'education','race'], axis=1)

In [ ]:
data_country

## Decreasing the sample size `n=100` for ease of use

In [ ]:
data_country.sample(n=100, random_state=10)